# Díjnet bejelentkezési adatok:
DIJNET_USER=...
DIJNET_PASS=...


# Kimeneti mappa, ahova a számlák fájljai kerüljenek:
OUTPUT_DIR=./szamlak


# Segédfájlok mappája:
# Ha nem adod meg (kommentként hagyod) vagy üres értéket adsz neki, akkor nem
# lesznek ilyen fájlok kimentve. Akkor érdemes bekapcsolni, ha valami hibát dob
# a program, a kimentett HTML fájlok segíthetnek a probléma javításában.
#TEMP_DIR=./temp


# Késleltetés a Díjnetnek küldött kérések előtt (másodpercben):
# Erre azért van szükség, hogy kevésbé terheljük a szervert. Javallott 3-5
# másodperces értéket beállítani.
SLEEP=3


# Naplózás szintje:
# 0 = semmit nem ír a képernyőre
# 1 = hibaüzenetek
# 2 = 1 + sikeres műveletsorok jelzése
# 3 = 2 + műveletek
# 4 = 3 + részletesebb információk
LOG_LEVEL=2